---
import { Image } from "astro:assets";

import Separator from "@/components/ui/Separator.astro";
import { AUTHOR_NAME, X_URL } from "@/lib/consts";
import author from "@/assets/author.png";

import AuthorDescription from "./author.mdx";
---

<div class="blog-author-container bg-primary-foreground">
  <div
    class="blog-author-area feed-width mx-auto md:w-3/4 lg:w-2/3 px-4 lg:px-8"
  >
    <div class="blog-author-card mx-auto px-2 py-8 md:px-8 md:py-10">
      <div class="flex flex-col flex-wrap items-center">
        <div class="mb-3">
          <a
            aria-label={AUTHOR_NAME + " X"}
            href={X_URL}
            class="blog-author-area-photo block h-24 w-24 overflow-hidden rounded-full md:h-28 md:w-28"
          >
            <Image
              alt={AUTHOR_NAME}
              src={author}
              class="block w-full"
              format="avif"
            />
          </a>
        </div>
        <div class="flex w-full flex-col items-center">
          <div class="flex flex-col items-center leading-snug">
            <h1
              class="blog-author-area-name mb-2 w-full font-heading text-2xl font-extrabold md:text-3xl"
            >
              <a aria-label={AUTHOR_NAME + " X"} href={X_URL}>
                {AUTHOR_NAME}
              </a>
            </h1>
          </div>
          <div class="prose text-center dark:prose-invert">
            <AuthorDescription />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<Separator />
