---
import curriculum from "@/assets/resume.json";

import BaseHead from "@/components/common/BaseHead.astro";
import Header from "@/components/curriculum/Header.astro";
import About from "@/components/curriculum/About.astro";
import Work from "@/components/curriculum/Work.astro";
import Education from "@/components/curriculum/Education.astro";
import Skills from "@/components/curriculum/Skills.astro";
import Projects from "@/components/curriculum/Projects.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title="Curriculum" description="" />
    <style is:global>
      :root {
        --background: 224 71.4% 4.1%;
        --foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;
        --ring: 216 12.2% 83.9%;
      }

      :root[data-theme="light"] {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;
        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
      }

      * {
        @apply border-border;
      }
      body {
        @apply bg-background text-foreground;
      }

      @media print {
        @page {
          margin: 0;
        }
        body {
          margin: 1.6cm;
        }
      }
    </style>
  </head>
  <body class="bg-background" style="">
    <main
      class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16"
    >
      <section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
        <Header {curriculum} />

        <About {curriculum} />

        <Work {curriculum} />

        <Education {curriculum} />

        <Skills {curriculum} />

        <Projects {curriculum} />
      </section>
    </main>
  </body>
</html>
