---
import { projectData } from './data'
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config';
---

<BaseLayout
  title={`Proyectos - ${siteConfig.author}`}
  description="List of projects that I am proud of"
>
  <div class="prose m-auto mb-8 text-center">
    <h1 class="mb-0 slide-enter-50">Proyectos</h1>
  </div>

  <article>
    <div class="mx-auto max-w-300">
      <p text-center mt--6 mb5 op50 text-lg italic>
        Proyectos que creé o mantuve.
      </p>
      {
        projectData.map((data, index) => (
          <div slide-enter style={`--enter-stage: ${index + 1};`}>
            <div
              id={data.title.toLowerCase().replace(/\s/g, '-')}
              select-none
              relative
              h20
              pointer-events-none
              slide-enter
              style={`--enter-stage: ${index - 2}; --enter-step: 60ms;`}
            >
              <span
                text-5em
                color-transparent
                absolute
                left--1rem
                top-0rem
                font-bold
                leading-1em
                text-stroke-1.5
                text-stroke-hex-aaa
                op35
                dark:op20
              >
                {data.title}
              </span>
            </div>
            <div class="project-grid grid grid-cols-1 mx-auto max-w-500 w-max gap-4 py-2 lg:grid-cols-2 md:grid-cols-2">
              {data.projects.map(project => (
                <a
                  class="item relative flex items-center"
                  href={project.href}
                  target="_blank"
                  title="Nuxt ESLint"
                >
                  <div class="pr-5 pt-2">
                    <div class:list={['text-3xl opacity-50', project.icon]} />
                  </div>
                  <div class="flex-auto">
                    <div class="text-normal">{project.text}</div>
                    <div class="desc text-sm font-normal opacity-50">
                      {project.description}
                    </div>
                  </div>
                </a>
              ))}
            </div>
          </div>
        ))
      }
    </div>

    <div>
      <div class="table-of-contents">
        <div class="table-of-contents-anchor">
          <div class="i-ri-menu-2-fill"></div>
        </div>
        <ul>
          {
            projectData.map(data => (
              <li>
                <a href={`#${data.title.toLowerCase().replace(/\s/g, '-')}`}>
                  {data.title}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </article>
</BaseLayout>

<style>
  .project-grid a.item {
    background: transparent;
    font-size: 1.1rem;
    width: 350px;
    max-width: 100%;
    padding: 0.5rem 0.875rem 0.875rem;
    border-radius: 6px;
  }

  .project-grid a.item:hover {
    background: #88888811;
  }
</style>
