---
import type { CollectionEntry } from "astro:content";
import { Picture } from "astro:assets";
import { Icon } from "astro-icon";

import FormattedDate from "@/components/format/FormattedDate.astro";
import noContent from "@/assets/no-content.png";

type Props = CollectionEntry<"blog">;

const { data, slug, render } = Astro.props;
const {
  remarkPluginFrontmatter: { minutesRead },
} = await render();
---

<div class="blog-post-card mb-16 px-4 lg:px-16">
  <section class="blog-post-card-wrapper flex flex-wrap items-start flex-row">
    <div class="lg:w-3/5">
      <h1
        class="blog-post-card-title mb-3 break-words font-heading text-2xl font-bold leading-tight lg:text-3xl"
      >
        <a aria-label={data.title} href={`/${slug}/`}>
          {data.title}
        </a>
      </h1>
      <div
        class="blog-post-card-meta mb-3 flex flex-row flex-wrap items-center font-heading text-sm font-medium text-muted-foreground"
      >
        <a
          aria-label={data.title}
          class="blog-post-card-time mr-4"
          href={`/${slug}/`}
        >
          <FormattedDate date={data.pubDate} />
        </a>
        <a
          aria-label={data.title}
          href={`/${slug}/`}
          class="mr-4 flex flex-row items-center"
        >
          <Icon class="mr-1 h-4 w-4 fill-current" name="bi:book" />
          <span>{minutesRead}</span>
        </a>
      </div>
      <p
        class="blog-post-card-brief block w-full break-words text-lg leading-snug text-muted-foreground"
      >
        <a aria-label={data.title} href={`/${slug}/`}>
          {data.description}
        </a>
      </p>
    </div>

    <div class="blog-post-card-cover mt-6 w-full lg:mt-0 lg:w-2/5 lg:pl-8">
      <a
        class="block overflow-hidden rounded-lg border"
        aria-label={data.title}
        href={`/${slug}/`}
      >
        <Picture
          alt={data.title}
          src={data.heroImage ?? noContent}
          class="post-cover"
          transition:name={`post-hero-image-${slug}`}
          formats={["webp"]}
          densities={[1.5, 2]}
        />
      </a>
    </div>
  </section>
</div>
